* {
    font-Family: 'Poppins';
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-blue: #0c67f0;
    --color-green: #33c48f;
    --color-txt: #283054;
    --color-txtblue: #091e3d;
    --color-bg: #e8e8e8;
    --color-bege: #f5f2e9;
    --color-with: #fff;
    --color-shadow: #ffffff49;
    --color-bluetrns: #0c67f057;
   
}
@font-face {
    font-family: 'Poppins';
    src: url('./assets//fonts//PoppinsRegular-B2Bw.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body,
html {
    background-color: var(--color-bg);
    scroll-behavior: smooth;
}

